*{margin: 0;padding: 0;}
body,html{height: 100%;width: 100%;background-color: #000;}
button{background: transparent;color: #fff;z-index: 9;position: fixed;border: none;}
#aurora canvas,#aurora{
    width: 100%;height: 100%;position: fixed;
  inset: 0;
  z-index: 0;
  pointer-events: none;
}

::-webkit-scrollbar{display: none;}

.content_root {
    width: 75%;
    height: 75%;
  position: relative;
  z-index: 1;
  margin: 0 auto;
  color: white;
  font-size: 1.2rem;
  background: rgba(0, 0, 0, 0.35);
  border-radius: 16px;
  top: 50%;
  transform: translateY(-50%);
}
